<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="mt-3">
        <input type="text" class="form-control d-inline w-50" name="search" [(ngModel)]="search" placeholder="search">

        <a class="btn btn-outline-success float-right" (click)="handleAddUserEvent()">
          ADD
        </a>
      </div>
      <app-users [searchText]="search"></app-users>
    </div>

    <div class=" col-lg-8 col-md-8 col-sm-12 mt-3">
      <h3 class="text-center mt-5 font-weight-light"
        *ngIf="!addUser && !currentUser && !showAddPost && !showAddTodo && !showPosts">
        {{ "click any user id to show user's post's & todo's" |uppercase }}
      </h3>
      <div *ngIf="addUser && !currentUser">
        <app-add-user (cancelEvent)="handleCancelAddUser($event)"></app-add-user>
      </div>
      <div *ngIf="currentUser" class="mb-3">

        <h4 class="d-inline">
          Todos - {{ currentUser.name }}
        </h4>
        <a class="btn btn-outline-success float-right" *ngIf="showInfo"
          (click)="showInfo = false; showAddTodo = true">ADD</a>
        <hr class="w-75">
      </div>


      <app-todos *ngIf="showInfo"></app-todos>
      <app-add-todo *ngIf="showAddTodo" (submitedTodo)="handleTodoSubmit()"
        (cancelEvent)="showAddTodo = false; showInfo=true"></app-add-todo>

      <hr class="w-75" *ngIf="showInfo">
      <div *ngIf="currentUser" class="mb-3">
        <h4 class="d-inline">
          Posts - {{ currentUser.name }}
        </h4>
        <a class="btn btn-outline-success float-right" *ngIf="showPosts"
          (click)="showAddPost = true; showPosts = false;">
          ADD
        </a>
        <hr class="w-75">
      </div>
      <app-posts *ngIf="showPosts"></app-posts>
      <app-add-post *ngIf="showAddPost" (cancelEvent)="handleCancelPostAdd()"></app-add-post>
      <hr class="w-25" *ngIf="showInfo">
    </div>
  </div>
</div>
<router-outlet></router-outlet>